body {
    margin: 0;
    font-size: 20px;
}

* {
    font-family: Raleway;
}

.bg-img {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.blank {
    margin-bottom: 60%;
    background-color: transparent;
}

.btn {
    padding: 15px 40px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    user-select: none;
    text-decoration: none;
    color: white;
    outline: none;
    background-color: #ff8800;
}

.btn:hover {
    transition: 0.2s;
    background-color: #ff6600;
}

.section-bg {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
}

.section-blank {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: none;
}

h1.heading {
    color: #ff6600;
}

h2.heading {
    color: #ff8800;
}

.footer {
    width: 100%;
    display: block;
    bottom: 0;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
}

.footer .footer-link {
    color: #ff8800;
    text-decoration: none;
}

.footer .footer-link:hover {
    transition: 0.2s;
    color: #ff6600;
}

.nav-desktop {
    overflow: hidden;
    width: 100%;
    display: block;
    top: 0;
    background-color: #ff8800;
}

.nav-desktop-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 60px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.nav-desktop-link:hover {
    background-color: #ff6600;
}

.nav-desktop-item {
    display: inline;
}

.nav-desktop-brand {
    font-size: 40px;
}

.form {
    outline: none;
    background-color: lightgrey;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

input.form {
    height: 50px;
    width: 500px;
    font-size: large;
}

.btn.btn-submit {
    padding: 15px 100px
}

textarea.form {
    width: 300px;
    font-size: large;
    height: 100px;
    resize: none;
}

select.form {
    height: 50px;
    width: 300px;
    font-size: large;
}

@media only screen and (max-width: 1024px) {
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: block;
        overflow: hidden;
    }

    input.form {
        width: 300px;
    }

    select.form {
        width: 300px;
    }

    textarea.form {
        width: 300px;
    }

    table.table td,
    table.table th {
        padding: 10px 25px;
    }

    div.col {column-count: 1;}
}

@media only screen and (min-width: 1025px) {
    .nav-mobile {
        display: none
    }

    table.table td,
    table.table th {
        padding: 10px 50px;
    }
}

.nav-mobile-brand {
    float: left;
    font-size: 40px;
    color: #ff8800;
    text-decoration: none;
}

.nav-mobile-right {
    float: right
}

.nav-mobile-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    z-index: 5;
    background-color: #ff6600;
}

.nav-mobile-right .nav-mobile-content {
    right: 0;
}

.nav-mobile-link {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-mobile-brand:active {
    color: dark#ff6600;
}

.hover-all {
    display: inline-block;
}

.hover-content {
    border-bottom: 7px solid #ff8800;
    display: none;
    position: absolute;
    min-width: 160px;
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    z-index: 100;
    transition-duration: 1s;
}

.hover-all:hover .hover-content {
    display: block;
}

.hover-all .hover-content .hover-link:hover {
    color: #ff6600;
    transition: 0.2s;
}

.hover-all .hover-content .hover-link {
    color: #ff8800;
    font-display: block;
    text-decoration: none;
}

table.table {
    border-collapse: collapse;
    width: 100%;
}

table.table td {
    border: 4px solid #ff8800;
    text-align: center;
    color: #ff8800;
}

table.table th {
    border: 4px solid #ff6600;
    text-align: center;
    color: #ff6600;
}

.col {
    column-count: 2;
}

.n-m-show {
    display: block
}

input[type=radio].form {
    width: initial;
    height: initial;
}

input[type=checkbox].form {
    width: initial;
    height: initial;
}

.link {
    color: #ff8800;
    text-decoration: none;
}

.link:hover {
    color: #ff6600;
}

.card {
    width: 40%;
    display: inline-block;
    transition: 0.2s;
    box-shadow: 0 4px 10px 0 grey;
    height: 470px;
    width: 500px;
    padding-top: 25px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.card:hover {
    margin-top: -50px;
    height: 520px;
    width: 550px;
    padding-top: 75px;
}

.map-region:target {
    display: inline-block;
}

.map-region {
    display: none;
}

.question {
    display: none;
}

.question:target {
    display: block;
}